/* Стилі для контейнера карти */
.map-container {
  height: 400px; /* Висота карти */
  width: 100%; /* Ширина карти займає 100% батьківського елемента */
  max-width: 600px; /* Максимальна ширина карти */
  margin: 0 auto; /* Центрування карти по горизонталі */
  z-index: 1; /* Задаємо бажаний z-index */
}

/* Для маркерів на карті */
.leaflet-marker-icon {
  width: 32px;
  height: 32px;
}

/* Якщо хочете додати додаткові стилі для ліній маршруту */
.leaflet-polyline {
  opacity: 0.7;
  weight: 3px;
  color: blue; /* Колір лінії маршруту */
}
.map-marker {
  position: relative;
  z-index: 2; /* Зменшуємо z-index для маркера */
}

/* Стиль для шляху */
.map-path {
  position: relative;
  z-index: 0; /* Задаємо менший z-index для шляху */
}
